<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>
    <%- include("partials/header") %>
        <div class="agradecimiento">

            <div class="container texto">
                <p>Queremos agradecerle a la <em >Fundación Formar</em> , <em>Digital House</em> y <em>Santander Rio</em>, por abrirnos las puertas en el estudio de la programación. También, pero no menos importante, agradecerle
                    al profesor <em>Eric Mena</em> que con su amabilidad, paciencia y tiempo dedicado a cada uno, nos formo como programadores.
                    Tampoco queremos olvidarnos
                    de Jonatan Céspedes, que nos fue guiando a lo largo de toda la cursada, con sus clases de apoyo y dándonos
                    consejos para poder ser mejores cada día. Al igual que las <em>Vickis</em> y <em>Ailu</em> que fueron importantisimas en nuestro desarrollo como personas y su acompañamiento.
                     Gracias a ustedes
                    podremos insertarnos en un mundo desconocido hasta hace un tiempo pero que nos brindará
                    un gran futuro. <br>
                     Aún nos queda un gran camino por recorrer... <br> ¡Vamos a estar agradecidos toda la vida! <br>
                    Sin Ustedes no seríamos quienes somos hoy.</p>
            </div>
            <div class="marcas-a">
                <h1 style="font-style: italic;">GRACIAS!!!</h1>
                <img src="/images/gracias/formar.png" alt="">
                <img src="/images/gracias/logo-DH.png" alt="">
                <img src="/images/gracias/santander5.jpg" alt="">
            </div>















            <%- include("partials/footer") %>
                <%- include("partials/scriptBS") %>
        </div>

</html>