<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header") %>
            <div class="carrito">
                <!-- ACA EMPIEZA EL TITULO, EL TOTAL Y EL BOTON PARA PAGAR -->

                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <h1>TU CARRITO</h1>
                        </div>
                        <div class="col-6 total">
                            <span>TOTAL (X PRODUCTOS)</span>
                            <P>$$$$</P>
                        </div>
                        <div class="col-6">
                            <button class="botonPagar"><a href="#">IR A PAGAR</a></button>
                        </div>
                    </div>

                    <hr />
                    <!-- ACA EMPIEZA LA SECCION DEL PRODUCTO, DESCRIPCION Y PRECIO -->


                    <div class="row">
                        <section class="imgIconos">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <figure>
                                            <img src="/images/combo1.jpeg" alt="imagen del producto">
                                        </figure>
                                        <a href=""><i class="fas fa-times cruz"></i></i></a>
                                        <a href=""><i class="fas fa-heart corazon"></i></i></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="descProduct">DESCRIPCION: Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Sequi id esse labore,
                                            inventore aliquid tempora.</p>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="dropdown col-6">
                                        <button class="btn btn-secondary dropdown-toggle botonCantidad" type="button"
                                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            CANTIDAD
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark"
                                            aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item active" href="#">1</a></li>
                                            <li><a class="dropdown-item" href="#">2</a></li>
                                            <li><a class="dropdown-item" href="#">3</a></li>
                                            <li><a class="dropdown-item" href="#">4</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 precio">
                                        <h4>PRECIO : $$$$</h4>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <hr class="linea2">

                    <!-- ACA EMPIEZA EL RESUMEN DE LA COMPRA -->

                    <section class="resumen">
                        <div class="row">
                            <div class="col-12">
                                <h2>RESUMEN</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 desc">
                                <ul>
                                    <li>PRECIO</li>
                                    <li>DESC</li>
                                    <li>ENVIO</li>
                                    <li class="total">TOTAL</li>
                                </ul>
                            </div>
                            <div class="col-6 prec">
                                <ul>
                                    <li>$$$$</li>
                                    <li>$$$$</li>
                                    <li>$$$$</li>
                                    <li class="total">$$$$</li>
                                </ul>
                            </div>
                        </div>
                        <button class="botonPagar"><a href="#">IR A PAGAR</a></button>

                    </section>

                    <hr class="linea3">

                    <!-- ACA EMPIEZA LA SECCION DE PREGUNTAS -->



                    <section class="ayuda">
                        <div class="row">
                            <div class="col-12">
                                <a href=""></a>
                                <h3 class="ayudas">¿Necesitas ayuda?</h3></a>
                                <ul>
                                    <li class="preguntas">¿Puedo devolver mi pedido?</li>
                                    <li class="preguntas">¿Como puedo usar mi descuento?</li>
                                    <li class="preguntas">Envios y plazos de entrega</li>
                                    <li class="preguntas">Cambios y devoluciones</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <%- include("partials/footer") %>

                <%- include("partials/scriptBS") %>

    </body>

</html>