<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/carritoStyle.css">
    <title>Carrito</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header><p>AQUI VA EL HEADER</p></header>
            </div>
        </div>
    </div>

        <!-- ACA EMPIEZA EL TITULO, EL TOTAL Y EL BOTON PARA PAGAR -->

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>TU CARRITO</h1>
            </div>
            <div class="col-12 detalle">
                <span>TOTAL (PRODUCTOS)</span>
                <P>$$$$</P>
                <button class="botonPagar">IR A PAGAR</button>
            </div>
        </div>    
    </div>

        <!-- ACA EMPIEZA LA SECCION DEL PRODUCTO, DESCRIPCION Y PRECIO -->

    <div class="container">
        <div class="row">
            <section>
                <div class="col-12">
                    <figure>
                        <img src="/images/combo1.jpeg" alt="imagen del producto">
                    </figure>
                    <p>DESCRIPCION</p>
                    <i class="fas fa-times"></i>
                    <i class="fas fa-heart"></i>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                          CANTIDAD
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                          <li><a class="dropdown-item active" href="#">1</a></li>
                          <li><a class="dropdown-item" href="#">2</a></li>
                          <li><a class="dropdown-item" href="#">3</a></li>
                          <li><a class="dropdown-item" href="#">4</a></li>
                        </ul>
                    </div>
                    <h4>PRECIO : $$$$</h4>
                </div>
            </section>
        </div>
    </div>

        <!-- ACA EMPIEZA EL RESUMEN DE LA COMPRA -->
    <div class="container">
        <div class="row">
            <section>
                <div class="col-12">
                    <h2>RESUMEN</h2>
                    <div class="col-12">
                        <span>PRECIO</span><span>$$$$</span>
                    </div>
                    <div class="col-12">
                        <span>DESC</span><span>$$$$</span>
                    </div>
                    <div class="col-12">
                        <span>ENVIO</span><span>$$$$</span>
                    </div>
                    <div class="col-12">
                        <span>TOTAL</span><span>$$$$</span>
                    </div>
                    <button class="botonPagar">IR A PAGAR</button>
                </div>
            </section>
        </div>
    </div>

        <!-- ACA EMPIEZA LA SECCION DE PREGUNTAS -->

    <div class="container">
        <div class="row">
            <section>
                <div class="col-12">
                    <h3 class="ayudas"><a href="">¿Necesitas ayuda?</a></h3>
                    <p class="preguntas">¿Puedo devolver mi pedido?</p>
                    <p class="preguntas">¿Como puedo usar mi descuento?</p>
                    <p class="preguntas">Envios y plazos de entrega</p>
                    <p class="preguntas">Cambios y devoluciones</p>
                </div>
            </section>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <p>AQUI VA EL FOOTER</p>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>