<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>
<%- include("partials/header") %>
    <div class="nosotros">
        
            <div class="container-fluid row caja-nosotros">
                <h1>¿Quiénes somos?</h1>
                <p class="quienes">Somos un equipo de desarrolladores, amantes del gaming y el mundo de las
                    computadoras, que pensamos y
                    codeamos el mejor lugar para que todos aquellos apasionados como nosotros puedan adquirir sus
                    productos y servicios de la mejor manera
                </p>
                <h1>Este equipo de desarrolladores está conformado por:</h1>
                <div class="dev col-12 col-md-6 col-lg-3">
                    <img src="/images/desarroladores/lautaro.jfif" alt="">
                    <p>
                        Lautaro Valdez: 21 años, entusiasta de la programación y los videojuegos, soy una persona a la
                        cual le gusta ampliar constantemente mis conocimientos para poder afrontar retos cada vez más
                        complejos.
                    </p>
                </div>
                <div class="dev col-12 col-md-6 col-lg-3">
                    <img src="/images/desarroladores/karen.png" alt="">
                    <p> Karen Junco: 30 años, autodidáctica, apasionada por la tecnología, emprendedora, y me encuentro
                        estudiando Programación Web para expandir mis conocimientos.</p>
                </div>
                <div class="dev col-12 col-md-6 col-lg-3">
                    <img src="/images/desarroladores/Ignacio.png" alt="">
                    <p> Ignacio Irigoitia: 23 años, autodidacta, me encanta el mundo de la programación, intento día a día
                        incorporar más información para poder avanzar en este mundo.</p> 
                </div>
                <div class="dev col-12 col-md-6 col-lg-3">
                    <img src="/images/desarroladores/cristian.jpg" alt="">
                    <p> Cristian Rodriguez: 33 años, soy una persona que a la edad adulta encontró el tiempo y la oportunidad de entrar en el mundo de la programación, autodidacta, amante de los videojuegos y todo lo relacionado
                    </p>
                </div>
  
            </div>








            <%- include("partials/footer") %>
                <%- include("partials/scriptBS") %>
        </div>

</html>