<!DOCTYPE html>
<html>

<%- include("partials/head") %>

  <body>

    <!-- HEADER -->

    <%- include('partials/header') %>

      <!-- HEADER -->

      <div class="home">
        <!-- BANNER PRINCIPAL-->
        <div class="banner-slide">
          <div id="carouselExampleInterval" class="carousel slide carousel-fade carousel-width carousel-desktop"
            data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="images/slide4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="images/slide1.jpg" class="d-block w-100" alt="...">
              </div>

              <div class="carousel-item">
                <img src="images/slide2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/slide3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        <!-- BANNER PRINCIPAL-->

        <!-- IMAGEN DE PROMOCION CON TARJETA -->
        <section class="banner col-12 col-md-12">
          <img src="images/Banner.jpg" alt="">
        </section>
        <!-- IMAGEN DE PROMOCION CON TARJETA -->

        <!-- TITULO DESTACADOS -->
        <div class="container">
          <div class="row">
            <div class="titulo col-12">
              <h2>
                Destacados
              </h2>
              <div class="line col-12">
              </div>
            </div>

            <!-- TITULO DESTACADOS-->

            <!-- PRODUCTOS -->
            <div class="container-fluid">
              <div class="row">
                <div class="productos-container col-12 col-md-6 col-lg-3">
                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 1 -->
                  <div class="productos-box">
                    <figure>
                      <img src="images/combo4.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO -->
                  <div class="productos-box">
                    <figure>
                      <img src="images/combo5.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 3 -->
                  <div class="productos-box">
                    <figure>
                      <img src="images/combo2.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 4-->
                  <div class="productos-box">
                    <figure>
                      <img src="images/mother1.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>
                </div>
              </div>


              <!-- FIN DESTACADOS -->




              <!-- TITULO NOVEDADES -->
              <div class="titulo col-12">
                <h2>
                  Novedades
                </h2>
                <div class="line col-12">
                </div>
              </div>

              <!-- PRODUCTOS -->
              <div class="row">
                <div class="productos-container col-12 col-md-6 col-lg-3">
                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 1 -->
                  <div class="productos-box">
                    <figure>
                      <img src="images/mother5.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 2-->
                  <div class="productos-box">
                    <figure>
                      <img src="images/mother4.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 3-->
                  <div class="productos-box">
                    <figure>
                      <img src="images/mother2.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>

                  <!-- CAJA QUE ENGLOBA EL PRODUCTO 4-->
                  <div class="productos-box">
                    <figure>
                      <img src="images/mother6.jpeg" alt="">
                    </figure>
                    <section>
                      <p>TITULO DEL PRODUCTO</p>
                    </section>
                    <article>
                      <i class="far fa-eye"></i>
                      <button><a href="/productos">detalles</a></button>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>


        <!-- NOVEDADES -->

        <!-- FOOTER -->

        <%- include('partials/footer') %>

          <!-- FOOTER -->

          <%- include("partials/scriptBS") %>
  </body>

</html>