<!DOCTYPE html>
<html lang="es">

<%- include("partials/head")  %> 

<body>
    <%- include("partials/header")  %> 
    <main>
        <h1>ESTE ES EL LISTADO DE LOS PRODUCTOS</h1>
    </main>

    <%- include("partials/footer")  %> 
    <%- include("partials/scriptBS")  %> 
</body>
</html>