<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/detalleProducto.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <div class="container">
        <div class="product-detail row">
            <article class="col-12">
                <h1>NOMBRE DEL PRODUCTO</h1>
            </article>
    
            <div class="product-detail__images-box col-12">
                <figure class="product-detail__images-box--largeImg">
                    <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_654958-MLA32146296720_092019-O.webp" alt=""></a>
                </figure>
                <div class="product-detail__images-box--thumbnail">
                    <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_642693-MLA32146410178_092019-O.webp" alt=""></a>
                    <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_793498-MLA32146296718_092019-O.webp" alt=""></a>
                    <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_884660-MLA32146214263_092019-O.webp" alt=""></a>
                </div>   
            </div>
            
            <article class="product-detail__price col-12">
                <p>Precio</p>
            </article>
    
            <section class="product-detail__data">
                <p>GARANTIA</p>
                <p>ENVIOS A TODO EL PAIS</p>
                <p>EN STOCK</p>
    
            </section>
    
            <article class="product-detail__shop">
                <button>Comprar</button>
                <button>Agregar</button>
            </article>
    
            <section class="product-detail__description">
                <h2>Descripcion de Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veritatis exercitationem earum neque eum eius ut sapiente, aut error asperiores facilis et reprehenderit eaque recusandae, deleniti necessitatibus incidunt atque doloribus?</p>
            </section>
    
            <section class="product-detail__feature">
                <h2>Caracteristicas del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit excepturi nesciunt veritatis. Quae distinctio magnam aliquid voluptatum tempora quaerat, pariatur, nostrum quas harum excepturi ipsam. Commodi expedita beatae culpa fuga?</p>
            </section>
    
    
    
        </div>
    
        <div class="similar-products col-12">
            <h2>Productos Similares</h2>
            <div class="similar-products__product-box">
                <figure>
                    <img src="https://http2.mlstatic.com/D_NQ_NP_654958-MLA32146296720_092019-O.webp" alt="">
                </figure>
    
                <section>
                    <p>NOMBRE DEL PRODUCTO</p>
                    <P>PRECIO DEL PRODUCTO</P>
                </section>
    
            </div>
    
        </div>
    

    </div>
    
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>