<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %> 
<body>
    <%- include("partials/header") %> 

    <h1 class="profile">estamos en el perfil de usuario</h1>
    

    <main class="container fluid profile">
      <h2 class="titleProfile">Perfil de usuario</h2>
      
    </main>








    <%- include("partials/footer") %> 
    <%- include("partials/scriptBS") %> 


</body>
</html>