<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

    <body>
        <!-- HEADER -->

        <%- include('partials/header') %>

            <!-- HEADER -->
            <div class="registro">
                <main>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row justify-content-center mt-5">
                                <h1 class="text-center my-5">Registro</h1>
                                <h4 class="titulos">Tu Nombre y Apellido</h4>
                                <div class="col-12 col-md-6 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre"
                                            name="name">
                                        <label for="nombre">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="apellido" placeholder="Tu apellido"
                                            name="apellido">
                                        <label for="apellido">Apellido</label>
                                    </div>
                                </div>
                                <h4 class="titulos">Tu Avatar</h4>
                                <div class="col-12 col-md-8 col-lg-6">
                                    <div class="imagen">
                                        <input type="file" name="img">
                                    </div>
                                </div>
                                <h4 class="titulos">Tu Email y Contraseña</h4>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Email"
                                            name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="pass" placeholder="Contraseña"
                                            name="pass">
                                        <label for="pass">Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="pass2" placeholder="Contraseña"
                                            name="pass2">
                                        <label for="pass2">Repetir Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-8">
                                    <div class="condiciones">
                                        <input class="form-check-input" name="term" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Acepto los terminos y condiciones
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 text-center">
                                    <button class="botonPagar"><a href="#">Registrarme</a></button>
                                    <p class="mt-4">¿Estás registrado? <a href="/login">Inicia sesión</a></p>
                                </div>
                                <div class="col-12 col-md-8 text-center redes">
                                    <p>O ingresa con</p>
                                    <div>
                                        <a href="#" class="google"><img src="/images/registro/google.png" alt=""><i
                                                class="fab fa-google"></i></a>
                                        <a href="#" class="facebook"><img src="/images/registro/facebook.png" alt=""><i
                                                class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
            <!-- FOOTER -->

            <%- include('partials/footer') %>

                <!-- FOOTER -->

                <%- include("partials/scriptBS") %>
    </body>

</html>