<footer class="container-fluid">

    <section class="barra-mobile">
        <ul>
            <li><a href="#">Soporte Tecnico</a></li>
            <li><a href="/contact">Sobre Nosotros</a></li>
            <li><a href="#">Mi Cuenta</a></li>
            <li><a href="/contact">Contactanos</a></li>
        </ul>
        <div class="logos">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
        </div>

    </section>
    <div class="row">
        <section>
            <div class="suscription">
                <p class="col-lg-2">Suscripción</p>
            <form action="" class="suscript col-lg-10">
                <input type="text" placeholder="ingrese su correo" class="">
                <button type="submit">Enviar</button>
            </form>
            </div>
        </section>
        <section class="marcas col-lg-4">
            <img src="/images/logo.png" class="logo-footer col-lg-12" alt="">
            <p>Marcas con las que trabajamos</p>
            <img src="/images/logos/1200px-Intel_logo_(2006).svg.png" alt="" class="marca">
            <img src="/images/logos/asus-logo-0.png" alt="" class="marca">
            <img src="/images/logos/kisspng-ryzen-multi-core-processor-intel-advanced-micro-de-amd-5b3243aadfe1a0.608522671530020778917.png"
                alt="" class="marca">
            <img src="/images/logos/logitech-logo-24.png" alt="" class="marca">
            <img src="/images/logos/msi-logo-0.png" alt="" class="marca">
            <img src="/images/logos/nvidia-logo-5-12-300x224.png" alt="" class="marca">
        </section>
        <section class="map col-lg-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11244.704171584523!2d-58.594515687894095!3d-34.92061302906585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1612313670923!5m2!1ses-419!2sar"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </section>
        <section class="sucursales col-lg-4">
            <p>¿Donde podes encontrarnos?</p>
            <i class="fab fa-facebook-square facebook"></i><a href="">Facebook</a>
            <i class="fab fa-instagram Instagran"></i><a href="">Instagran</a>
            <i class="fas fa-map-marker-alt mapa"></i><a href="/contact">Local</a>
        </section>
    </div>

</footer>