<header class="container-fluid">
  <div class="row">
    <div class="menu-mobile col-2">

    <a href="#barra" class="hamburguer ">
      <i class="fas fa-bars"></i>
    </a>
    <div class="nav-bg" id="barra">
      <nav class="nav-bar ">
        <ul class="list">
          <li class="item"><a href="#" class="link">teclados</a></li>
          <li class="item"><a href="#" class="link">discos rigidos</a></li>
          <li class="item"><a href="#" class="link">monitores</a></li>
          <li class="item"><a href="#" class="link">microprocesadores</a></li>
          <li class="item"><a href="#" class="link">maquinas armadas</a></li>
          <li class="item"><a href="#" class="link">discos ssd</a></li>
          <li class="item"><a href="#" class="link">perifericos</a></li>
        </ul>
      </nav>
      <a href="#header" class="cross">
        <i class="fas fa-times"></i>
      </a>
    </div>
    </nav>
  </div>
    <div class="logo col-3 col-lg-1">
      <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <nav class="nav-bar2 col-lg-11">
      <ul class="list2">
        <li class="item"><i class="fas fa-keyboard"></i><a href="#" class="link">teclados</a></li>
        <li class="item"><a href="#" class="link">discos rigidos</a></li>
        <li class="item"><a href="#" class="link">monitores</a></li>
        <li class="item"><a href="#" class="link">microprocesadores</a></li>
        <li class="item"><a href="#" class="link">maquinas armadas</a></li>
        <li class="item"><a href="#" class="link">discos ssd</a></li>
        <li class="item"><a href="#" class="link">perifericos</a></li>
      </ul>
    </nav>
    <div class="name-inc col-4">
      <h1>IG-ARMADOS</h1>
    </div>
    <div class="login-header col-3 ">
      <ul>
        <li><i class="fas fa-sign-in-alt"></i><a href="/login">login</a></li>
        <li><i class="fas fa-cart-arrow-down"></i><a href="">carrito<a></li>
      </ul>
    </div>
    <!-- menu de navegacion por categorias  -->

    <!-- menu de contacto -->
    <div class="contact col-lg-2">
      <ul>
        <li><a href=""><i class="fas fa-at"></i> ejemplo@empresa.com</a></li>
        <li><a href=""><i class="fas fa-phone-alt"></i> 15543 44556</a></li>
      </ul>
    </div>
    <!-- barra de busqueda -->
    <div class="input-search col-lg-7 ">
      <form action="">
        <input type="text" placeholder="¿Que es lo que buscabas?">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <!-- zona de regristro y carrito -->

  </div> <!-- cierrro el row -->

</header>