<header class="container-fluid">
  <div class="row">
    <div class="menu-mobile col-2">

      <a href="#barra" class="hamburguer">
        <i class="fas fa-bars"></i>
      </a>
      <div class="nav-bg" id="barra">
        <nav class="nav-bar ">
          <ul class="list">

            <% if (typeof user != 'undefined') { %>
            <li class="item"><a href="/admin" class="link">Administrar sitio</a></li>
            <% } %>
            <li class="item"><a href="#" class="link">Teclados</a></li>
            <li class="item"><a href="#" class="link">Discos Rigidos</a></li>
            <li class="item"><a href="#" class="link">Monitores</a></li>
            <li class="item"><a href="#" class="link">Microprocesadores</a></li>
            <li class="item"><a href="#" class="link">Maquinas Armadas</a></li>
            <li class="item"><a href="#" class="link">Discos SSD</a></li>
            <li class="item"><a href="#" class="link">Perifericos</a></li>
          </ul>
        </nav>
        <a href="#header" class="cross">
          <i class="fas fa-times"></i>
        </a>
      </div>
      </nav>
    </div>
    <div class="logo col-2 col-lg-2">
      <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <nav class="nav-bar2 col-lg-10">
      <ul class="menu">
        <li>
          <a href="#0">
            <span>Teclados</span>
            <span>
              <i class="fas fa-keyboard" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Perifericos</span>
            <span>
              <i class="fas fa-mouse aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Discos Rigidos</span>
            <span>
              <i class="far fa-hdd" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Monitores</span>
            <span>
              <i class="fas fa-desktop" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Microprocesadores</span>
            <span>
              <i class="fas fa-microchip" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Maquinas Armadas</span>
            <span>
              <i class="fas fa-laptop" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#0">
            <span>Discos SSD</span>
            <span>
              <i class="fas fa-hdd" aria-hidden="true"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="name-inc col-4 col-lg-5">
      <h1>IG-ARMADOS</h1> 
    </div>
    <div class="login-header col-3 col-lg-2">
    <div class="btn-group " role="group">
      <% if (typeof user != 'undefined') { %>
        <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <li><i class="far fa-user"></i><span><%= user.nombre %> </span></li>
          <img src="/images/iconoLoginOn.png" class="userOn" alt="">
        </button>
        <li><a href="/users/carrito"><i class="fas fa-shopping-bag car-header"></i><span>Carrito</span></a></li>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="/users/profile">perfil</a></li>
          <li><a class="dropdown-item" href="/users/logout">cerrar sesion</a></li>
          <li><a class="dropdown-item" href="/admin">Administrar sitio</a></li>
          
        </ul>
      <% } else {%>
          
      <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <li><i class="far fa-user"></i><span>Login</span></li>
      </button>
      <li><a href="/users/carrito"><i class="fas fa-shopping-bag car-header"></i><span>Carrito</span></a></li>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="/users/login">Ingresar</a></li>
        <li><a class="dropdown-item" href="/users/register">Registrarme</a></li>
      </ul>
        <% } %>

    </div>
  </div>
    
    <!-- menu de navegacion por categorias  -->

    <!-- menu de contacto -->
    <div class="contact col-lg-3">
      <ul>
        <li><a href="mailto:Ig-armados@correo.com"><i class="fas fa-at"></i> ejemplo@empresa.com</a></li>
        <li><a href=""><i class="fas fa-phone-alt"></i> 15543 44556</a></li>
      </ul>
    </div>
    <!-- barra de busqueda -->
    <div class="input-search col-lg-7">
      <form action="">
        <input type="text" placeholder="      ¿Que es lo que buscabas?">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>

    
   

    <!-- zona de regristro y carrito -->

  </div> <!-- cierrro el row -->
  
</header>