<div class="">
    <h1>Compartir en</h1>
</div>
<div class="redes">

    <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com"><i class="fab fa-facebook"></i></i></a>
    <a
        href="https://twitter.com/intent/tweet?text= Lo%20mejor%20para%20el%20gaming%20http://google.com&hashtags=igArmados">
        <i class="fab fa-twitter"></i></a>
    <a href="https://api.whatsapp.com/send?text=Lo%20mejor%20para%20el%20gaming%20http://google.com"><i
            class="fab fa-whatsapp"></i></a>
</div>