<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8708a92b7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/cargaProducto.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <div class="carga-producto">
        <div class="container">
            <div class="content-form row">
                <form action="" method="" enctype="multipart/form-data">
                    <section class="product-img col-12">
                        <label for="img">Cargar Imagenes</label>
                            <input type="file" name="img" id="img">
                        
                        
                    </section>
        
                    <section class="product-info col-12">
                        <div class="box ">
                        <h2>titulo del producto</h2>
                        <input type="text" name="title" id="">
                        <h2>Precio del producto</h2>
                        <input type="text" name="price" id="">
                        </div>
    
                        <div class="box2">
                        <h2>oferta</h2>
                        <input type="text" name="in-sale">
                        <h2>garantia</h2>
                        <select name="garantia" id="">
                            <option value="si"><p>Si</p></option>
                            <option value="no"><p>No</p></option>
                        </div>
                        </select>
                    </section>
        
                    <article class="product-detail--title">
                        <h2>detalle</h2>
                    </article>
        
                    <section class="product-detail col-12">
                        <div class="box3">
                        <h2>componente</h2>
                        <input type="text" name="title" id="">
                        <h2>marca</h2>
                        <input type="text" name="price" id="">
                        </div>
    
                        <div class="box4">
                        <h2>modelo</h2>
                        <input type="text" name="in-sale">
                        <h2>en stock</h2>
                        <select name="garantia" id="">
                            <option value="si"><p>Si</p></option>
                            <option value="no"><p>No</p></option>
                        </div>
                        </select>
                    </section>
        
                    <article class="product-description--title">
                        <h2>descripcion</h2>
                    </article>
        
                    <section class="product-description col-12">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </section>
        
                    <article class="product-feature--title">
                        <h2>caracteristicas</h2>
                    </article>
        
                    <section class="product-feature col-12">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </section>
                    
                    <div class="product-botom">
                        <button type="submit">Enviar</button>
        
                    </div>
                </form>
        
    
            </div>
            
        </div>

    </div>

    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <footer>
        
    </footer>
    
</body>
</html>