<%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <div class="carga-producto">
        <div class="container">
            <div class="content-form row">
                <form action="" method="POST" enctype="multipart/form-data">
                    <section class="product-img col-12">
                        <label for="img">Cargar Imagenes</label>
                            <input type="file" name="image" id="img">
                        
                        
                    </section>
        
                    <section class="product-info col-12">
                        <div class="box ">
                        <h2>titulo del producto</h2>
                        <input type="text" name="title" id="">
                        <h2>Precio del producto</h2>
                        <input type="text" name="price" id="">
                        </div>
    
                        <div class="box2">
                        <h2>oferta</h2>
                        <input type="text" name="insale">
                        <h2>garantia</h2>
                        <select name="garantia" id="">
                            <option value="si"><p>Si</p></option>
                            <option value="no"><p>No</p></option>
                        </div>
                        </select>
                    </section>
        
                    <article class="product-detail--title">
                        <h2>detalle</h2>
                    </article>
        
                    <section class="product-detail col-12">
                        <div class="box3">
                        <h2>componente</h2>
                        <input type="text" name="component" id="">
                        <h2>marca</h2>
                        <input type="text" name="mark" id="">
                        <h2 class="mt-3">category</h2>
                        <select name="category" id="">
                            <option value="si"><p>novedades</p></option>
                            <option value="no"><p>destacados</p></option>
                        </select>
                        </div>
    
                        <div class="box4">
                        <h2>modelo</h2>
                        <input type="text" name="model">
                        <h2>en stock</h2>
                        <select name="stock" id="">
                            <option value="si"><p>Si</p></option>
                            <option value="no"><p>No</p></option>
                        </div>
                        </select>
                    </section>
        
                    <article class="product-description--title">
                        <h2>descripcion</h2>
                    </article>
        
                    <section class="product-description col-12">
                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                    </section>
        
                    <article class="product-feature--title">
                        <h2>caracteristicas</h2>
                    </article>
        
                    <section class="product-feature col-12">
                        <textarea name="features" id="" cols="30" rows="10"></textarea>
                    </section>
                    
                    <div class="product-botom">
                        <button type="submit">Enviar</button>
        
                    </div>
                </form>
        
    
            </div>
            
        </div>

    </div>

    
    <%- include("../partials/footer")  %> 

    <%- include("../partials/scriptBS")  %> 
</body>
</html>