html, body {
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
  }

header{
    background-color: red;
    height: 50px;
}

.product-detail{
    /*Posiblemente se quite a futuro*/
    min-height: 100vh;
    margin: 0;
}

.product-detail__images-box--thumbnail{
    display: flex;
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    
}

.product-detail__price{
    padding: 10px;
}

.product-detail__images-box--largeImg{
    padding: 10px;
    width: 45%;
}

.product-detail__data{
    padding: 10px;
}


.product-detail__description{
    margin-top: 30px;
}


.product-detail__shop{
    display: inline-block;

}

.similar-products{
    background-color: gray;
    min-height: 100vh;
    margin: 0;
    
}

.similar-products__product-box{
    background-color: green;
    height: 600px;
    margin: 10px;
    margin-top: 5px;
}





.product-detail__images-box--thumbnail img{
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
    border: 1px solid gray;

}

.product-detail__images-box--largeImg img{
    height: 400px;

}

.similar-products__product-box img{
    height: 380px;
    margin: 11px;
}

.product-detail__images-box--thumbnail a{
    padding-left: 5px;
}



.product-detail__price p{
    text-align: center;
    font-size: 45px;
}

.similar-products__product-box{
    text-align: center;
    font-size: 30px;

}

.product-detail__data p{
    font-size: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

.product-detail__shop button{
    margin-top: 10px;
    height: 50px;
    width: 100%; 
    background-color: #1259c3;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    border-style: none;
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
}

.product-detail__description p{
    font-size: 14px;

}

.product-detail__description h2{
    font-size: 25px;
}

.product-detail__feature h2{
    font-size: 25px;
}

.product-detail__feature p{
    font-size: 14px;
}
