/* variables */
:root{
    --orange:#ff6600;
    --white:#ffffff;
    --black:#1f1f1f;
    --red:#e30909;
    }
  
    /* Generales */
    
    *{
     box-sizing: border-box; 
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     font-family: 'Roboto', sans-serif;
    }
    
    header a, i{
      text-decoration: none;
      color: var(--white);
    }
    header a:hover{
      color: var(--orange);
    }
    header{
      background-image: url("../images/burbujas-en-diferentes-figuras-geometricas_7680x4320_xtrafondos.com.jpg");
      width: 100%;
    }
     
     *,
     *::before,
     *::after {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }
  
     header .fa-bars {
       color: white;
         font-size: 2rem;
         position: relative;
         z-index: 0;
         background-color: var(--orange);
         padding: 5px;
         border-radius: 5px;
     }
     
     header .hamburguer {
        display: inline-block;
       padding: 2rem;
         cursor: pointer;
         position: relative;
         z-index: 0; 
     }
     
     header .nav-bg{
         display: block;
         visibility: hidden;
         opacity: 0;
         width: 100vw;
         height: 100vh;
         background-color:var(--orange);
         position: fixed;
         top: 0;
         left: 0;
         z-index: 10;
         transform: translateX(100vw);
         transition: all .5s;
     }
     
     header .nav-bar {
       margin-top: 40px;
       width: 70vw;
       height: 100vh;
       color: black;
       padding: 2rem;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 12;
     }
     header .nav-bar2{
       display: none;
     }
     
     header .nav-bg:target{
         visibility: visible;
         opacity: 1;
         transform: translateX(0vw);
     }
     header .list {
       list-style: none;
       text-transform: capitalize;
       font-weight: bold;

     } 
     header .item {
       margin: 2rem 0;
       border-bottom: 1px solid var(--white);
     }
  

     header .link {
       color: white;
       text-decoration: none;
       font-size: 2rem;
     }
     
     header .cross{
         padding: 1rem;
         font-size: 2rem;
         cursor: pointer;
         color: whitesmoke;
         position: relative;
         top: 2rem;
         left: 25rem;
         z-index: 12;
     }
     header img{
       width: 70px;
       padding: 1rem;
     }
     header .name-inc{
       padding-top: 3rem;
       color:var(--white)
     }
     header .login-header ul{
       display: flex;
       flex-wrap: wrap;
       flex-direction: row-reverse;
       padding: 2rem;
       justify-content: space-between;
     }
     header .login-header i{
       font-size: 2rem;
     }
     header .login-header a{
       display: none;
     }
     header .contact {
       display: none;
     }
     header .input-search input{
       padding: 2px;
       width: 80%;
       border-radius: 5px 0 0 5px;;
       
      
     }
     header .input-search button{
       background-color: var(--orange);
       border-radius: 0 5px 5px 0;
       padding:  0 5px ;
       
     }
     header form{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding-bottom: 10px;
     }

    
  
  
  
  
  
  
      /* ------------footer-------------------- */
    
     footer .marcas,.suscription,.map,.sucursales{
     display: none;
     }
     footer .barra-mobile{
     padding: 0;
     }
     footer .barra-mobile ul{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     background-color: var(--negro);
     padding: 0;
     border-bottom: 1px var(--blanco) solid;
     }
     footer li{
     border-bottom: 1px solid white;  
     }
     footer li a, .logos{
     text-decoration: none;
     color: var(--blanco);
     background-color: var(--negro); 
     text-align: center; 
     }
     footer i{
     color: var(--blanco);
     font-size:  20px; 
     padding: 50px 15px ;
     }
     footer i:hover{
     color: var(--naranja);
     } 
     footer .logos{
     border-bottom: 1px solid var(--blanco);
     }
     
  

    
    /*------------------- Escritorio -------------------------------------*/
     @media(min-width:992px) {
      header .menu-mobile {
        display: none;
      }
      header .nav-bar2{
        display: block;
      }
      
      header img{
        order: -1;
      }
      header ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:space-around;
      }
      header ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column ;
        justify-content: space-around;
      }
      header .link {
        font-size: 12px;
        text-transform: uppercase;
      }
      header .name-inc{
        display: none;
      }
      header .contact {
        display: block;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      header .contact ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      }
      header .contact li{
        padding: 5px;
      }
      header .login-header{
        order: 1;
      }
      header .input-search {
        padding: 5px;
      }
      header .input-search input{
        border-radius: 5px 0 0 5px;
        padding: 4px;
        width: 85%;
        
      }
      header .input-search button{
        background-color: var(--orange);
        border-radius: 0 5px 5px 0;
        padding: 5px ;
      }
      header .login-header ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
      }
      header .login-header a{
        display: block;
        
      }
      



      
      /* ------------FOOTER------------------ */
    
      footer .barra-mobile{
        display: none;
      }
       footer .marcas{
        display: block;  
      } 
      footer .suscription,.map,.sucursales,.marcas {
        display: block;
        background-color: rgba(255, 255, 255, 0.2); 
      }
      footer .suscription{
        border: 3px solid var(--negro);
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center;
        background-color: var(--negro);
      }
      footer .suscription p{
        border-right: 1px solid var(--blanco);
        margin-top: 16px;
        padding: 10px;
        color: var(--blanco);
      }
      footer input{
        border-radius: 5px;
        width: 380px;
        margin-left: 40px;
      }
      footer .suscription button{
        background-color: var(--naranja);
        border-radius: 5px;
        color: var(--blanco);
      }
      footer .marcas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;  
      }
      footer .logo-footer{
        margin-top: 40px;
        width: 70px;
        height: 70px;
        justify-content: flex-start;
      }
      footer .marcas p{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
       color: white;
      }
      footer .marca{
        width: 33%;
        padding: 20px;
      }
      footer iframe{
        margin-top: 40px;
        width: 100%;
        height: 320px; 
      }
      footer .sucursales p{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--blanco);
        border-bottom: 1px solid var(--blanco);
      }
      footer .sucursales i{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color:var(--blanco);
        padding: 20px;
      }
      footer .sucursales a{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        margin-bottom: 5px;
      }
      footer i{
        color:var(--white)
      }
     
    /* -----------------------------------------------------------------------------LOGIN------------------------------------------------------------------------------- */
    
     }