/* variables */
:root{
    --orange:#ff6600;
    --white:#ffffff;
    --black:#1f1f1f;
    --red:#e30909;
    }
  
    /* Generales */
    
 
    .boton-admin{
      position: fixed;
      width: 180px;
      height: 36px;
      line-height: 55px;
      top: 40px;
      right: 100px;
      background: orangered;
      color: var(--white);
      border-radius: 13px;
      text-align: center;
      font-size: 30px;
      box-shadow:0px 1px 10px rgba(0, 0, 0, 0.3) ;
  }
  
  


    
    *{
     box-sizing: border-box; 
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     font-family: 'Roboto', sans-serif;
    }
    
    header a, i{
      text-decoration: none;
      color: var(--white);
    }
    header a:hover{
      color: var(--orange);
    }
    header{
      background-image: url("../images/burbujas-en-diferentes-figuras-geometricas_7680x4320_xtrafondos.com.jpg");
      width: 100%;
    }
  
     
     *,
     *::before,
     *::after {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       margin-top: 0;
     }
     header .admin a{
       background-color: var(--orange);
       padding: 1px 15px;
       border-radius: 10px;
       
     }
     
     header .btn{
       color:var(--orange);
      
     }
     header .admin a:hover{
      color: var(--black);
      box-shadow: none;
     }
     header button .dropdown-toggle:hover{
       color: var(--orange);

     }
  
     header .fa-bars {
       color: white;
         font-size: 2rem;
         position: relative;
         z-index: 0;
         background-color: var(--orange);
         padding: 10px;
         border-radius: 20px;
         margin-top: 5px;
     }
     
     header .hamburguer {
        display: inline-block;
        padding: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 0; 
        padding-top: 20px;
        
     }
     .btn-group-vertical.btn, .btn-group>.btn{
       box-shadow: none;
     }
     
     header .nav-bg{
         display: block;
         visibility: hidden;
         opacity: 0;
         width: 100vw;
         height: 100vh;
         background: linear-gradient(to top, #fe8c00, #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         border-radius: 20px;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 10;
         transform: translateX(100vw);
         transition: all .5s;
         box-shadow: 5px 5px 25px #222 inset;
     }
   
     
     header .nav-bar {
       margin-top: 40px;
       width: 70vw;
       height: 100vh;
       color: black;
       padding: 2rem;
       position: fixed;
       top: 0;
         left: 0;
         z-index: 12;
     }
     header .nav-bar2{
       display: none;
     }
     
     header .nav-bg:target{
         visibility: visible;
         opacity: 1;
         transform: translateX(0vw);
     }
     header .list {
       list-style: none;
       text-transform: capitalize;
       font-weight: bold;

     } 
     header .item {
       margin: 2rem 0;
       border-bottom: 1px solid var(--white);
     }
  

     header .link {
       color: white;
       text-decoration: none;
       font-size: 2rem;
     }
     
     header .cross{
         padding: 1rem;
         font-size: 2rem;
         cursor: pointer;
         color: whitesmoke;
         position: relative;
         top: 2rem;
         left: 2rem;
         z-index: 12;
     }
     header img{
       width: 70px;
       padding: 1rem;
     }
     header .name-inc{
       padding-top: 3rem;
       color:var(--white)
     }
     header .login-header{
       justify-content: center;
       margin-top: 25px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
     }
     header .dropdown-menu{
       background-color:wheat;
       
     }
     header .dropdown-menu a{
      color: var(--black);
      font-size: 15px;
      font-weight: bold;
      text-transform:capitalize;
     
    }
     header .login-header i{
       font-size: 2.2rem;
     }
      header .userOn{  
      position: absolute;
      width: 34px;
      left: 8px;
      top: -7px;
     }
     
    header .login-header span{
      display: none;
    }
    header  li .car-header {
      padding-top: 11px;
      padding-left: 20px;
      
    }
     
     header .contact {
       display: none;
     }
     header .input-search input{
       padding: 2px;
       width: 80%;
       border-radius: 5px 0 0 5px;;
       
      
     }
     header .input-search button{
       background-color: var(--orange);
       border-radius: 0 5px 5px 0;
       padding:  0 5px ;
       
     }
     header form{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding-bottom: 10px;
     }
      /* ------------footer-------------------- */
    
     footer .marcas,.suscription,.map,.sucursales{
     display: none;
     }
     footer .barra-mobile{
     padding: 0;
     }
     footer .barra-mobile ul{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     background-color: var(--black);
     padding: 0;
     border-bottom: 1px var(--white) solid;
     }
     footer li{
     border-bottom: 1px solid white;  
     }
     footer li a, .logos{
     text-decoration: none;
     color: var(--white);
     background-color: var(--black); 
     text-align: center; 
     }
     footer i{
     color: var(--white);
     font-size:  20px; 
     padding: 50px 15px ;
     }
     footer i:hover{
     color: var(--orange);
     } 
     footer .logos{
     border-bottom: 1px solid var(--white);
     }
     
  

    
    /*------------------- Escritorio -------------------------------------*/
     @media(min-width:992px) {



      .menu a span:first-child {
        display: inline-block;
        padding: 10px;
      }
      .menu a {
        display: block;
        position: relative;
        overflow: hidden;
      }
       
      .menu a span:last-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
      }
      .menu a span {
        transition: transform 0.2s ease-out;
      }
       
      .menu a:hover span:first-child {
        transform: translateY(100%);
        color: var(--orange);
      }
       
      .menu a:hover span:last-child {
        transform: none;
        color: var(--orange);
      }
      .menu[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
      }
       
      .menu[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
      }
       
      .menu[data-animation="to-right"] a span:last-child {
        transform: translateX(-100%);
      }
       
      .menu[data-animation="to-right"] a:hover span:first-child {
        transform: translateX(100%);
      }
       
      .menu[data-animation="to-left"] a span:last-child {
        transform: translateX(100%);
      }
       
      .menu[data-animation="to-left"] a:hover span:first-child {
        transform: translateX(-100%);
      }
      header .menu-mobile {
        display: none;
      }
     
      header .menu ul:hover{
        color: var(--orange);
        }
    
      header .nav-bar2{
        display: block;
        margin-top: 20px;
      }
      
      header img{
        order: -1;
        display: flex;
        justify-content: center;
      }
      header ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:space-around;
      }
      header .nav-bar2 i{
        font-size: 25px;
      }
      header .nav-bar2{
        padding: 10px;
      }
      header .admin {
        order:1;
        padding-bottom: 5px;
      }
      header .userOn{  
        position: absolute;
        left: 26px;
        top: -12px;
       }
     
      header ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column ;
        justify-content: space-around;
      }
      header .nav-bar2 span{
        font-size: 12px;
        text-transform: uppercase;
      }
      header .name-inc{
        display: none;
      }
      header .contact {
        display: block;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      header .contact ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      }
      header .contact li{
        padding: 5px;
      }
      header .contact a{
        font-size: 15px;
      }
     
      header .input-search {
        padding: 5px;
      }
      header .input-search input{
        border-radius: 5px 0 0 5px;
        padding: 4px;
        width: 85%;
        
      }
      header .input-search button{
        background-color: var(--orange);
        border-radius: 0 5px 5px 0;
        padding: 5px ;
      }
      header .login-header{
        order: 1;
        margin: 0%;
      
        
      }
     
      header  li .car-header {
        padding-top: 3px;
        padding-left: 15px;
      }
      
      header .login-header span{
        display: block;
        font-size: 15px;
        padding-right: 40px;
      }
      header .login-header i{
        font-size: 20px;
        padding-right: 35px;
        
      }
      
      header .login-header li:hover{
       
        color:var(--orange);
      }
      /* ------------FOOTER------------------ */
    
      footer .barra-mobile{
        display: none;
      }
       footer .marcas{
        display: block;  
      } 
      footer .suscription,.map,.sucursales,.marcas {
        display: block;
        background-color: rgba(255, 255, 255, 0.1); 
      }
      footer .suscription{
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center;
        background-color: var(--black);
      }
      footer .suscription p{
        border-right: 1px solid var(--white);
        margin-top: 16px;
        padding: 10px;
        color: var(--white);
      }
      footer input{
        width: 70%;
        border-radius: 5px;
        margin-left: 100px;
      }
      footer .suscription button{
        background-color: var(--orange);
        border-radius: 5px;
        color: var(--white);
      }
      footer.marcas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        height: 200px;
      }
      footer .logo-footer{
        margin-top: 10px;
        width: 70px;
        height: 70px;
       
      }
      footer .marcas p{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
       color: white;
       margin-top: -59px;
      }
      footer .marca{
        width: 32%;
        padding:  0 6px ;
      }
      footer iframe{
        margin-top: 40px;
        width: 100%;
        height: 80%; 
      }
      footer .sucursales{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
      }
      footer .sucursales p{
        margin-top: 20px;
        margin-bottom: 50px;
        color: var(--white);
  
      }
      footer .sucursales i{
        color:var(--white);
        padding: 10px;
        font-size: 30px;
      }
      footer i.facebook:hover{
        color: #3b5998;
        
      }
      footer i.Instagran:hover{
        color:	#feda75; 
      }
      footer i.mapa:hover{
        color:red; 
      }
      footer .sucursales a{
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        background: none;
     
        justify-content: center;
        text-align: center;
      }
      footer .sucursales li{
        text-align: center;
      }
      
    /* -----------------------------------------------------------------------------LOGIN------------------------------------------------------------------------------- */
    
     }