/* variables */
:root{
    --orange:#ff6600;
    --white:#ffffff;
    --black:#1f1f1f;
    --red:#e30909;
    }
  
    /* Generales */
    
    *{
     box-sizing: border-box; 
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     font-family: 'Roboto', sans-serif;
    }
    
    header a, i{
      text-decoration: none;
      color: var(--white);
    }
    header a:hover{
      color: var(--orange);
    }
    header{
      background-image: url("../images/burbujas-en-diferentes-figuras-geometricas_7680x4320_xtrafondos.com.jpg");
      width: 100%;
    }
     
     *,
     *::before,
     *::after {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }
  
     header .fa-bars {
       color: white;
         font-size: 2rem;
         position: relative;
         z-index: 0;
         background-color: var(--orange);
         padding: 5px;
         border-radius: 5px;
     }
     
     header .hamburguer {
        display: inline-block;
        padding: 2rem;
         cursor: pointer;
         position: relative;
         z-index: 0; 
     }
     
     header .nav-bg{
         display: block;
         visibility: hidden;
         opacity: 0;
         width: 100vw;
         height: 100vh;
         background-color:var(--orange);
         position: fixed;
         top: 0;
         left: 0;
         z-index: 10;
         transform: translateX(100vw);
         transition: all .5s;
     }
     
     header .nav-bar {
       margin-top: 40px;
       width: 70vw;
       height: 100vh;
       color: black;
       padding: 2rem;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 12;
     }
     header .nav-bar2{
       display: none;
     }
     
     header .nav-bg:target{
         visibility: visible;
         opacity: 1;
         transform: translateX(0vw);
     }
     header .list {
       list-style: none;
       text-transform: capitalize;
       font-weight: bold;

     } 
     header .item {
       margin: 2rem 0;
       border-bottom: 1px solid var(--white);
     }
  

     header .link {
       color: white;
       text-decoration: none;
       font-size: 2rem;
     }
     
     header .cross{
         padding: 1rem;
         font-size: 2rem;
         cursor: pointer;
         color: whitesmoke;
         position: relative;
         top: 2rem;
         left: 25rem;
         z-index: 12;
     }
     header img{
       width: 70px;
       padding: 1rem;
     }
     header .name-inc{
       padding-top: 3rem;
       color:var(--white)
     }
     header .login-header ul{
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       padding: 10px 0;
       justify-content: flex-end;
     }
     header .login-header i{
       font-size: 2rem;
     }
     header .login-header a{
      font-size: 15px;
    }
     
     header .contact {
       display: none;
     }
     header .input-search input{
       padding: 2px;
       width: 80%;
       border-radius: 5px 0 0 5px;;
       
      
     }
     header .input-search button{
       background-color: var(--orange);
       border-radius: 0 5px 5px 0;
       padding:  0 5px ;
       
     }
     header form{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding-bottom: 10px;
     }
      /* ------------footer-------------------- */
    
     footer .marcas,.suscription,.map,.sucursales{
     display: none;
     }
     footer .barra-mobile{
     padding: 0;
     }
     footer .barra-mobile ul{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     background-color: var(--black);
     padding: 0;
     border-bottom: 1px var(--white) solid;
     }
     footer li{
     border-bottom: 1px solid white;  
     }
     footer li a, .logos{
     text-decoration: none;
     color: var(--white);
     background-color: var(--black); 
     text-align: center; 
     }
     footer i{
     color: var(--white);
     font-size:  20px; 
     padding: 50px 15px ;
     }
     footer i:hover{
     color: var(--orange);
     } 
     footer .logos{
     border-bottom: 1px solid var(--white);
     }
     
  

    
    /*------------------- Escritorio -------------------------------------*/
     @media(min-width:992px) {



      .menu a span:first-child {
        display: inline-block;
        padding: 10px;
      }
      .menu a {
        display: block;
        position: relative;
        overflow: hidden;
      }
       
      .menu a span:last-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
      }
      .menu a span {
        transition: transform 0.2s ease-out;
      }
       
      .menu a:hover span:first-child {
        transform: translateY(100%);
      }
       
      .menu a:hover span:last-child {
        transform: none;
      }
      .menu[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
      }
       
      .menu[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
      }
       
      .menu[data-animation="to-right"] a span:last-child {
        transform: translateX(-100%);
      }
       
      .menu[data-animation="to-right"] a:hover span:first-child {
        transform: translateX(100%);
      }
       
      .menu[data-animation="to-left"] a span:last-child {
        transform: translateX(100%);
      }
       
      .menu[data-animation="to-left"] a:hover span:first-child {
        transform: translateX(-100%);
      }
      header .menu-mobile {
        display: none;
      }
      header .nav-bar2{
        display: block;
      }
      
      header img{
        order: -1;
        display: flex;
        justify-content: center;
      }
      header ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:space-around;
      }
      header .nav-bar2 i{
        font-size: 25px;
      }
      header .nav-bar2{
        padding: 10px;
      }
     
      header ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column ;
        justify-content: space-around;
      }
      header .nav-bar2 span{
        font-size: 12px;
        text-transform: uppercase;
      }
      header .name-inc{
        display: none;
      }
      header .contact {
        display: block;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      header .contact ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      }
      header .contact li{
        padding: 5px;
      }
      header .contact a{
        font-size: 15px;
        
        
      }
     
      header .input-search {
        padding: 5px;
      }
      header .input-search input{
        border-radius: 5px 0 0 5px;
        padding: 4px;
        width: 85%;
        
      }
      header .input-search button{
        background-color: var(--orange);
        border-radius: 0 5px 5px 0;
        padding: 5px ;
      }
      header .login-header{
        order: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
      }
      header .login-header ul{
        padding: 0;
        
      }
      header .login-header li{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      header .login-header a{
        display: block;
        padding: 5px;
        font-size: 15px;
      }
      /* ------------FOOTER------------------ */
    
      footer .barra-mobile{
        display: none;
      }
       footer .marcas{
        display: block;  
      } 
      footer .suscription,.map,.sucursales,.marcas {
        display: block;
        background-color: rgba(255, 255, 255, 0.2); 
      }
      footer .suscription{
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center;
        background-color: var(--black);
      }
      footer .suscription p{
        border-right: 1px solid var(--white);
        margin-top: 16px;
        padding: 10px;
        color: var(--white);
      }
      footer input{
        width: 70%;
        border-radius: 5px;
        margin-left: 100px;
      }
      footer .suscription button{
        background-color: var(--orange);
        border-radius: 5px;
        color: var(--white);
      }
      footer .marcas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;  
      }
      footer .logo-footer{
        margin-top: 40px;
        width: 70px;
        height: 70px;
        justify-content: flex-start;
      }
      footer .marcas p{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
       color: white;
      }
      footer .marca{
        width: 33%;
        padding: 20px;
      }
      footer iframe{
        margin-top: 40px;
        width: 100%;
        height: 320px; 
      }
      footer .sucursales p{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--white);
        border-bottom: 1px solid var(--white);
      }
      footer .sucursales i{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color:var(--white);
        padding: 20px;
        font-size: 40px;
      }
      footer i:hover{
        color: blue;
      }
     
      
      footer .sucursales a{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        margin-bottom: 5px;
      }
      
    /* -----------------------------------------------------------------------------LOGIN------------------------------------------------------------------------------- */
    
     }