@import "indexStyle.css";
@import "registerStyle.css";
@import "footerHeader.css";
@import "detalleProducto.css";
@import "cargaProducto.css";
@import "carritoStyle.css";
@import "productoLista.css";
@import"what.css";
@import"profile.css";
@import"profileEdit.css";
@import "contact.css";
@import "productList.css";
@import "controlUsers.css";
@import "redes.css";
@import "agradecimiento.css";

