@import "indexStyle.css";
@import "registerStyle.css";
@import "footerHeader.css";
@import "detalleProducto.css";
@import "cargaProducto.css";
@import "carritoStyle.css";
@import "productoLista.css";
@import"what.css"

