

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #00bb2d;
    color: var(--white);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow:0px 1px 10px rgba(0, 0, 0, 0.3) ;
}

